.DogDetailsDiv{
    background-color: #AEB6BF;
    min-height: 100vh;
}

#contenedor{
    background-color: #85929E;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#tituloDiv{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bolder;
    cursor:default;
    background-color: #AEB6BF;
    padding-bottom: 1rem;
    color: #1B2631;
    margin-top: 2rem;
}

#nombrePerro{
    font-size: 3rem;
    font-weight: bolder;
    color: #1B2631;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#imagen{
    margin: auto;
    width: 30%;
    border-style: solid;
    border-color: #2E4053;
    border-width: 5px;
}

.datos{
    margin: auto;
    font-size: 1rem;
    height: 10%;
    background-color: #AEB6BF;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#contenedorDatos{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #AEB6BF;
    width: 70%;
}

.tituloDato{
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.textoDato{
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#cargando{
    margin-top: 2rem;
    width: 250px;
    border-style: solid;
    border-color: #2E4053;
    border-width: 5px;
}

#cargandoh1{
    color: #283747;
    margin-top: 1rem;
    font-size: 3rem;
}

.link{
    color:#E74C3C;
}

.link:hover{
    color: #943126;
}

#delete{
    /* background-color: blue; */
    width: 40%;
    margin: auto;
    margin-bottom: 1rem;
}